/* *{
    border: solid 1px red;
} */

.logo{
    position: fixed;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2.4rem;
    width: 25%;
}

.verticalNav{
    display: flex;
    flex-direction: column;
    /* transform: rotate(90deg); */
    height: 90vh;
    margin: 2rem;
    margin-left: 95%;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
  }

  .nav{
      display: flex;
      flex-direction: column;
  }
  
  .nav a{
    text-align:center;
    transform: rotate(90deg);
    padding: .2rem .4rem;
    margin-top: 5rem;
    color: rgba(87, 196, 77, 1);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    border: solid 1px transparent;
    /* margin-bottom: 4rem; */
  }

  .nav a:hover{
      color:blue;
  }

 .nav svg{
     display: inline;
 }

 .cart{
     text-align: center;
 }